/* Slider */
.slick-slider {
  margin-top: -10em;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  float: left;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  height: 800px;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: 100%;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-size: 16px;
  font-family: "Theinhardt Pan" !important;
  overflow-x: hidden;
}

body #chkS--One, body #chkS--Two, body #chkS--Three {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

body .bS--enabler {
  -webkit-box-shadow: 0px 0px 74px -60px black;
  box-shadow: 0px 0px 74px -60px black;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

body .recT--enabler {
  opacity: 1 !important;
}

body .ltr::before {
  top: 0;
  content: " ";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  animation: slide 1s;
  -webkit-animation: slide 1s;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
          animation-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

@-webkit-keyframes slide {
  from {
    background: #fff;
    left: 0%;
  }
  to {
    background: #fff;
    left: 150%;
  }
}

@keyframes slide {
  from {
    background: #fff;
    left: 0%;
  }
  to {
    background: #fff;
    left: 150%;
  }
}

body .navbar-auW {
  background: #fff;
}

body .bg-auW {
  color: #000;
}

body .bg-auW a {
  color: #000;
}

body button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .auLadder {
  min-height: 100vh;
}

body h1 {
  font-family: "Apercu Pro";
  font-weight: 700;
}

body p {
  font-weight: 300;
  opacity: 1 !important;
  color: #000;
}

header .navbar .navbar-brand {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  opacity: 1;
  font-family: "Theinhardt Pan";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 300;
  padding: 0px 5px 0px 8px;
  color: #000;
  border-radius: 2px;
}

header .navbar .navbar-brand .hider {
  display: none;
}

.lang {
  font-weight: 300;
  border-left: 1px solid #000;
  padding-left: 1em;
  opacity: 0.5;
}

.brandBg {
  opacity: 0 !important;
}

.auSh {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.fade-in {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.4);
}

.auSideNav {
  height: 100%;
  width: 430px;
  /* 430px */
  max-width: 100%;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  background-color: #000;
  overflow-x: hidden;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
  padding-top: 18px;
  -webkit-box-shadow: 3px 0px 35px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 35px -20px rgba(0, 0, 0, 0.75);
}

.auSideNav h2 {
  font-family: "Theinhardt Pan";
  padding: 8px 8px 16px 5px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff !important;
  line-height: 0.5;
}

.auSideNav h2 span {
  font-weight: 300;
  font-style: italic;
}

.auSideNav p {
  color: #fff;
  opacity: 0.5     !important;
  font-size: 16px;
}

.auSideNav hr {
  width: 15%;
  border-bottom: solid 1px #fff;
  opacity: 0.5;
}

.auSideNav a {
  padding: 8px 8px 16px 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Theinhardt Pan";
  text-transform: uppercase;
  color: #fff !important;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #1a1a1a;
  margin: 1em 2em 1em 2em;
}

.auSideNav a:hover {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
}

.auSideNav .auSideFooter {
  border-top: 1px solid #1a1a1a;
  background: #0a0a0a46;
  top: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.auSideNav .auSideFooter a {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
}

.auSideNav .auSideFooter a:hover {
  padding-left: 0px;
  padding-right: 0px;
}

.auSideNav .auSideFooter a:nth-child(1):hover {
  color: #4267B2 !important;
}

.auSideNav .auSideFooter a:nth-child(2):hover {
  color: #8a3ab9 !important;
}

.auSideNav .auSideFooter a:nth-child(3):hover {
  color: #1DA1F2 !important;
}

.auSideNav .auSideFooter a:nth-child(4):hover {
  color: #E60023 !important;
}

.auSideNav .auSideFooter a:nth-child(5):hover {
  color: #ea4c89 !important;
}

.auSideNav .change {
  margin-top: -5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.auSideNav .change .auB1 {
  background: #fff !important;
  width: 30px !important;
  -webkit-transform: rotate(45deg) translate(0px, 5px);
  transform: rotate(45deg) translate(0px, 5px);
}

.auSideNav .change .auB2 {
  display: none;
}

.auSideNav .change .auB3 {
  background: #fff !important;
  width: 30px !important;
  -webkit-transform: rotate(-45deg) translate(0px, -5px);
  transform: rotate(-45deg) translate(0px, -5px);
}

.auCont {
  display: inline-block;
  cursor: pointer;
}

.auCont .auB, .auCont .auB1, .auCont .auB2, .auCont .auB3 {
  height: 2px;
  background-color: #000;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.auCont .auB1 {
  width: 25px;
}

.auCont .auB2 {
  width: 35px;
}

.auCont .auB3 {
  width: 15px;
}

.bgBlock {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.disP {
  overflow: hidden !important;
}

main .forwarder {
  font-weight: 500;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

main .forwarder:hover {
  color: black;
  text-decoration: none !important;
}

main .sectionOne .col-md-6 {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main .sectionOne h1 {
  font-family: "Apercu Pro";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 56px;
}

main .sectionOne h2 {
  font-family: "Theinhardt Pan";
  font-weight: 300;
  line-height: 0.25em;
}

main .sectionOne img {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .sectionOne span {
  opacity: 0.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  position: absolute;
  margin-top: 5em;
  margin-left: -35px;
  padding-left: 0;
}

main .sectionOne span i {
  margin-top: 0.30em !important;
  position: absolute;
}

main .sectionTwo {
  margin-top: 10em;
  margin-bottom: 5em;
}

main .sectionTwo img {
  min-height: 75vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 74px -60px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 74px -60px rgba(0, 0, 0, 0);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

main .sectionTwo .recT {
  border: solid 1px #d3d3d4 !important;
  min-height: 75vh;
  height: 100%;
  width: 85%;
  position: absolute;
  z-index: -999;
  top: 25px;
  right: -10px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
}

main .sectionTwo .recTB {
  background: #000;
  height: 30px;
  width: 150px;
  position: absolute;
  z-index: 1;
  top: 97.3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

main .sectionTwo .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: -1em !important;
}

main .sectionTwo .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionTwo .title h1 {
  font-family: "Apercu Pro";
  font-size: 50px;
  line-height: 0.25;
}

main .sectionTwo p {
  margin-top: 2em;
  text-align: justify;
  opacity: 0.8;
}

main .sectionThree {
  margin-top: 10em;
  margin-bottom: 5em;
}

main .sectionThree #filter button {
  background: transparent;
  border: 1px solid #d3d3d4;
  font-weight: 400;
  color: #000;
  padding: 0.25em 0.50em 0.25em 0.50em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .sectionThree #filter button:hover {
  background: #000;
  color: #fff;
  border: solid 1px #000;
}

main .sectionThree .sideTitle {
  position: -webkit-sticky;
  position: sticky;
  top: 25%;
  height: 10%;
}

main .sectionThree .sideTitle hr {
  margin-top: 1px;
  border-bottom: solid 1px #000;
}

main .sectionThree img {
  min-height: 75vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .sectionThree .recTB {
  background: #000;
  height: 150px;
  width: 30px;
  position: absolute;
  z-index: 1;
  top: 20vh;
  right: -15px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

main .sectionThree .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .sectionThree .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionThree .title h1 {
  font-family: "Apercu Pro";
  font-size: 50px;
  line-height: 0.25;
}

main .sectionThree p {
  margin-top: 2em;
  text-align: justify;
  opacity: 0.8;
}

main .sectionThree p i {
  opacity: 0.5;
}

main .sectionThree a {
  color: #000;
  text-decoration: none;
}

main .sectionThree a:hover {
  text-decoration: none !important;
}

main .sectionThree .textAreaBox .c1 {
  max-width: 100px;
}

main .sectionThree .textAreaBox h3 {
  background: #fff;
  position: relative;
  max-width: 150px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-left: 1em;
  z-index: 3;
}

main .sectionThree .textAreaBox .taBorder {
  border: solid 1px #d3d3d4;
  margin-top: -1.5em;
}

main .sectionThree .textAreaBox .taBorder p {
  margin: 0;
  padding: 2em;
}

main .sectionFour {
  margin-top: 10em;
  background: #F8F8F8;
}

main .sectionFour .auR1 {
  position: relative;
  padding-bottom: 3em;
}

main .sectionFour .auR1 .workNameArea {
  position: absolute;
  top: 60%;
  left: 10%;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%);
}

main .sectionFour .auR1 .workNameArea #date {
  width: 100%;
  opacity: 0.7 !important;
}

main .sectionFour .auR2 {
  padding-top: 12em;
}

main .sectionFour .auR3 {
  padding-bottom: 8em;
}

main .sectionFour .auR3 button {
  color: #000;
  text-decoration: none !important;
  border: none;
  background: none;
  outline: none !important;
}

main .sectionFour .auR3 button i {
  font-size: 25px;
}

main .sectionFour img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

main .sectionFour .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: -1em !important;
}

main .sectionFour .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionFour .title h1 {
  font-family: "Apercu Pro";
  font-size: 50px;
  line-height: 0.25;
}

main .sectionFive {
  margin-top: 10em;
}

main .sectionFive .auR1 {
  margin-top: -15em;
}

main .sectionFive .auR1 p {
  opacity: 0.8;
}

main .sectionFive .auR1 .auFc {
  border: 1px solid #d3d3d4 !important;
  border-radius: 0px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

main .sectionFive .auR1 .btn-submit {
  border: solid 1px #000;
  text-transform: uppercase;
  font-family: "Apercu Pro";
  font-weight: 600;
  background: #fff;
  border-radius: 0px;
  color: #000;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

main .sectionFive .auR1 .btn-submit:hover {
  background: #000;
  color: #fff;
}

main .sectionFive .auR1 textarea {
  resize: none;
}

main .sectionFive .auR1 textarea::-webkit-input-placeholder {
  padding: 5px 0px 0px 0px !important;
}

main .sectionFive .auR1 textarea:-ms-input-placeholder {
  padding: 5px 0px 0px 0px !important;
}

main .sectionFive .auR1 textarea::-ms-input-placeholder {
  padding: 5px 0px 0px 0px !important;
}

main .sectionFive .auR1 textarea::placeholder {
  padding: 5px 0px 0px 0px !important;
}

main .sectionFive .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .sectionFive .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionFive .title h1 {
  font-family: "Apercu Pro";
  font-size: 50px;
  line-height: 0.25;
}

.scrollTop {
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: fixed;
  bottom: 50px;
  right: 35px;
  border-radius: 100%;
  -webkit-animation: glow 5s infinite;
          animation: glow 5s infinite;
}

@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 0 0 0px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0px -10px rgba(0, 0, 0, 0.5);
  }
  to {
    -webkit-box-shadow: 0 0 0px 20px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0px 20px rgba(0, 0, 0, 0);
  }
}

@keyframes glow {
  from {
    -webkit-box-shadow: 0 0 0px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0px -10px rgba(0, 0, 0, 0.5);
  }
  to {
    -webkit-box-shadow: 0 0 0px 20px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0px 20px rgba(0, 0, 0, 0);
  }
}

.scrollTop button {
  background: #000;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: #fff;
  -webkit-box-shadow: 10px 10px 50px -20px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 50px -20px rgba(0, 0, 0, 0.35);
}

footer {
  margin-top: 10em;
  background: #F8F8F8;
  padding-top: 5em;
  padding-bottom: 3em;
}

footer h1 {
  font-family: "Theinhardt Pan";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 600;
  border-radius: 2px;
}

footer hr {
  border-bottom: solid 1px #d3d3d4;
}

footer a {
  color: #000;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  main {
    margin: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .slick-slider {
    margin: auto;
  }
  .slick-slide img {
    display: block;
    height: auto;
  }
  main .sectionOne img {
    width: 100% !important;
    height: 50vh;
    min-height: auto !important;
  }
  main .sectionOne h1 {
    font-size: 40px !important;
  }
  main .sectionOne p {
    opacity: 0.8;
  }
  main .sectionOne span {
    font-weight: 500;
    -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    position: relative !important;
    margin: auto !important;
  }
  main .sectionOne span i {
    margin-top: 0.30em !important;
    position: relative !important;
    -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
  }
  main .sectionTwo {
    margin-top: 5em !important;
  }
  main .sectionTwo img {
    height: 50vh !important;
  }
  main .sectionTwo .recT {
    display: none !important;
  }
  main .sectionTwo .recTB {
    top: 73vh !important;
  }
  main .sectionTwo .title {
    -webkit-writing-mode: initial !important;
        -ms-writing-mode: initial !important;
            writing-mode: initial !important;
    text-orientation: initial !important;
    margin-right: auto !important;
  }
  main .sectionTwo .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  main .sectionTwo .title h1 {
    font-family: "Apercu Pro";
    font-size: 30px !important;
    line-height: 0.75;
  }
  .sectionThree .sideTitle {
    position: relative !important;
    top: auto !important;
    height: auto !important;
    margin-bottom: 2em;
  }
  .sectionThree .title {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    -webkit-writing-mode: inherit !important;
        -ms-writing-mode: inherit !important;
            writing-mode: inherit !important;
    text-orientation: inherit !important;
  }
  .sectionThree .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  .sectionThree .title h1 {
    font-family: "Apercu Pro";
    font-size: 30px !important;
    line-height: 0.75 !important;
  }
  .sectionThree .recTB {
    background: #000;
    height: 30px !important;
    width: 150px !important;
    position: absolute;
    z-index: 1;
    top: initial !important;
    bottom: -15px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .sectionThree #mobMore {
    border: solid 1px #000;
    padding: 1em;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    font-weight: 700;
  }
  .sectionThree #mobMore:hover {
    background: #000;
    color: #fff;
  }
  .sectionFour .auR1 {
    margin-top: 2em;
  }
  .sectionFour .auR1 .workNameArea {
    position: relative !important;
    top: initial !important;
    left: initial !important;
    -webkit-transform: initial !important;
            transform: initial !important;
    margin-bottom: 2em;
  }
  .sectionFour .auR2 {
    padding-top: 5em !important;
  }
  .sectionFour .auR2 .title {
    -webkit-writing-mode: inherit !important;
        -ms-writing-mode: inherit !important;
            writing-mode: inherit !important;
    text-orientation: inherit !important;
    margin: auto !important;
  }
  .sectionFour .auR2 .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  .sectionFour h1 {
    font-family: "Apercu Pro";
    font-size: 30px !important;
    line-height: 0.75 !important;
  }
  .sectionFour .auR3 {
    margin: auto !important;
    padding-bottom: 3em !important;
  }
  .sectionFive {
    margin-top: 7em !important;
  }
  .sectionFive .auR1 {
    margin: auto !important;
  }
  .sectionFive .title {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    -webkit-writing-mode: inherit !important;
        -ms-writing-mode: inherit !important;
            writing-mode: inherit !important;
    text-orientation: inherit !important;
  }
  .sectionFive .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  .sectionFive .title h1 {
    font-family: "Apercu Pro";
    font-size: 30px !important;
    line-height: 0.75 !important;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  main {
    margin-top: 3em !important;
  }
  main h1 {
    font-size: 50px !important;
  }
  img {
    margin-top: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */