$mainFont: 'SF UI Display';
$secondaryFont: 'Ivy Mode';
$mainSize: 16px;
$secondarySize: 14px;
$white: #fff;
$black: #000;
$sideNav: #0a0a0a46;
$border: #1a1a1a;
$facebook: #4267B2;
$pinterest: #E60023;
$dribbble: #ea4c89;
$twitter: #1DA1F2;
$instagram: #8a3ab9;
$clear: none !important;

body {
    font-size: $mainSize;
    font-family: $mainFont !important;
    .navbar-auW {
        background: $white;
    } 
    .bg-auW {
        color: $black;
        a {
        color: $black;   
        }
    }
    button {
        outline: $clear;
        box-shadow: $clear;
    } 
    .auLadder {
        min-height: 100vh;
    }
    h1 {
        font-family: $secondaryFont;
        font-weight: 700;
    }
}

header {
    .navbar {
        .navbar-brand {
            font-family: $mainFont;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.10em;
            font-weight: 400;
            padding: 0px 5px 0px 8px;
            color: $white;
            background: $black;
            border-radius: 2px;
        }
    }
}

.brandBg {
    background: $black !important;
}

.auSh {
    transition: all ease 0.3s;
}

.fade-in {
    transition: all ease 0.3s;
    -webkit-box-shadow: 0px 5px 30px -15px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 30px -15px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 30px -15px rgba(0,0,0,0.4);
}

.auSideNav {
    height: 100%;
    width: 0px; /* 430px */
    max-width: 100%;
    opacity: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
    -webkit-box-shadow: 3px 0px 35px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 35px -20px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 35px -20px rgba(0,0,0,0.75);
    a {
        padding: 8px 8px 16px 5px;
        text-decoration: none;
        font-size: $secondarySize;
        font-family: $mainFont;
        text-transform: uppercase;
        color: $white !important;
        display: block;
        transition: 0.3s;
        border-bottom: 1px solid $border;
        margin: 1em 2em 1em 2em;
        &:hover {
            color: $white;
            text-decoration: none;
            padding-left: 15px;
        }
    }
    .auSideFooter {
        border-top: 1px solid $border;
        background: $sideNav;
        top: 100%;
        position: sticky;
    
        a {
            margin-left: auto;
            margin-right: auto;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 8px;
            padding-bottom: 8px;
            border: none;
            &:hover {
                padding-left: 0px;
                padding-right: 0px;
            }
            &:nth-child(1) {
                &:hover {
                    color: $facebook !important;
                }
            }
            &:nth-child(2) {
                &:hover {
                    color: $instagram !important;
                }
            }
            &:nth-child(3) {
                &:hover {
                    color: $twitter !important;
                }
            }
            &:nth-child(4) {
                &:hover {
                    color: $pinterest !important;
                }
            }
            &:nth-child(5) {
                &:hover {
                    color: $dribbble !important;
                }
            }
        }
    }  
    
    .change {
        margin-top: -5px;
        transition: all ease 0.5s;
        opacity: 0;
        .auB1 {
            background: $white !important;
            width: 30px !important;
            -webkit-transform: rotate(45deg) translate(0px, 5px) ;
            transform: rotate(45deg) translate(0px, 5px) ;
        }

        .auB2 {
            display: none;
        }

        .auB3 {
            background: $white !important;
            width: 30px !important;
            -webkit-transform: rotate(-45deg) translate(0px, -5px) ;
            transform: rotate(-45deg) translate(0px, -5px) ;
        }
    }  
}

.auCont {
    display: inline-block;
    cursor: pointer;
    
    .auB {
    height: 2px;
    background-color: $black;
    margin: 6px 0;
    transition: 0.4s;
}

    .auB1 {
    @extend .auB;
    width: 25px;
}

    .auB2 {
    @extend .auB;
    width: 35px;
}

    .auB3 {
    @extend .auB;
    width: 15px;
}
}

.bgBlock {
    transition: all ease 0.5s;
    filter: blur(5px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.disP{
    overflow: hidden !important;
}

main {
    .sectionOne {
        top: 0;
        h1 {
            font-family: $secondaryFont;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 72px;
        }
        h2 {
            font-family: $mainFont;
            font-weight: 200;
            line-height: 0.25em;
        }
        img {
            width: 100%;
            height: 100vh;
            min-height: 100%;
            object-fit: cover;
        }
        span {
            font-weight: 500;
        }
    }
}


@media only screen and (min-width: 768px) {
    main {
        margin: auto !important;
        h1 {
            font-size: 72px !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    main {
        img {
            width: 100% !important;
            height: auto !important;
            min-height: auto !important;
        }
        h1 {
            font-size: 40px !important;
        }
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    main {
        margin-top: 3em !important;
        h1 {
            font-size: 50px !important;
        }
    }
    img {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 414px) {
    main {
        margin-top: -3em;
    }
}