body {
  font-size: 16px;
  font-family: "SF UI Display" !important;
}

body .navbar-auW {
  background: #fff;
}

body .bg-auW {
  color: #000;
}

body .bg-auW a {
  color: #000;
}

body button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .auLadder {
  min-height: 100vh;
}

body h1 {
  font-family: "Ivy Mode";
  font-weight: 700;
}

header .navbar .navbar-brand {
  font-family: "SF UI Display";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 400;
  padding: 0px 5px 0px 8px;
  color: #fff;
  background: #000;
  border-radius: 2px;
}

.brandBg {
  background: #000 !important;
}

.auSh {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.fade-in {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.4);
}

.auSideNav {
  height: 100%;
  width: 0px;
  /* 430px */
  max-width: 100%;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 18px;
  -webkit-box-shadow: 3px 0px 35px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 35px -20px rgba(0, 0, 0, 0.75);
}

.auSideNav a {
  padding: 8px 8px 16px 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: "SF UI Display";
  text-transform: uppercase;
  color: #fff !important;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #1a1a1a;
  margin: 1em 2em 1em 2em;
}

.auSideNav a:hover {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
}

.auSideNav .auSideFooter {
  border-top: 1px solid #1a1a1a;
  background: #0a0a0a46;
  top: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.auSideNav .auSideFooter a {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
}

.auSideNav .auSideFooter a:hover {
  padding-left: 0px;
  padding-right: 0px;
}

.auSideNav .auSideFooter a:nth-child(1):hover {
  color: #4267B2 !important;
}

.auSideNav .auSideFooter a:nth-child(2):hover {
  color: #8a3ab9 !important;
}

.auSideNav .auSideFooter a:nth-child(3):hover {
  color: #1DA1F2 !important;
}

.auSideNav .auSideFooter a:nth-child(4):hover {
  color: #E60023 !important;
}

.auSideNav .auSideFooter a:nth-child(5):hover {
  color: #ea4c89 !important;
}

.auSideNav .change {
  margin-top: -5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.auSideNav .change .auB1 {
  background: #fff !important;
  width: 30px !important;
  -webkit-transform: rotate(45deg) translate(0px, 5px);
  transform: rotate(45deg) translate(0px, 5px);
}

.auSideNav .change .auB2 {
  display: none;
}

.auSideNav .change .auB3 {
  background: #fff !important;
  width: 30px !important;
  -webkit-transform: rotate(-45deg) translate(0px, -5px);
  transform: rotate(-45deg) translate(0px, -5px);
}

.auCont {
  display: inline-block;
  cursor: pointer;
}

.auCont .auB, .auCont .auB1, .auCont .auB2, .auCont .auB3 {
  height: 2px;
  background-color: #000;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.auCont .auB1 {
  width: 25px;
}

.auCont .auB2 {
  width: 35px;
}

.auCont .auB3 {
  width: 15px;
}

.bgBlock {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.disP {
  overflow: hidden !important;
}

main .sectionOne {
  top: 0;
}

main .sectionOne h1 {
  font-family: "Ivy Mode";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 72px;
}

main .sectionOne h2 {
  font-family: "SF UI Display";
  font-weight: 200;
  line-height: 0.25em;
}

main .sectionOne img {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .sectionOne span {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  main {
    margin: auto !important;
  }
  main h1 {
    font-size: 72px !important;
  }
}

@media only screen and (max-width: 767px) {
  main img {
    width: 100% !important;
    height: auto !important;
    min-height: auto !important;
  }
  main h1 {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  main {
    margin-top: 3em !important;
  }
  main h1 {
    font-size: 50px !important;
  }
  img {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 414px) {
  main {
    margin-top: -3em;
  }
}
/*# sourceMappingURL=main.css.map */