body {
  font-size: 16px;
  font-family: "SF UI Display" !important;
}

body .navbar-auW {
  background: #fff;
}

body .bg-auW {
  color: #000;
}

body .bg-auW a {
  color: #000;
}

body button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .auLadder {
  min-height: 100vh;
}

body h1 {
  font-family: "Ivy Mode";
  font-weight: 700;
}

header .navbar .navbar-brand {
  font-family: "SF UI Display";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 400;
  padding: 0px 5px 0px 8px;
  color: #fff;
  background: #000;
  border-radius: 2px;
}

.brandBg {
  opacity: 0 !important;
}

.auSh {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.fade-in {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.4);
}

.auSideNav {
  height: 100%;
  width: 430px;
  /* 430px */
  max-width: 100%;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  background-color: #000;
  overflow-x: hidden;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
  padding-top: 18px;
  -webkit-box-shadow: 3px 0px 35px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 35px -20px rgba(0, 0, 0, 0.75);
}

.auSideNav h2 {
  font-family: "Ivy Mode";
  padding: 8px 8px 16px 5px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff !important;
  line-height: 0.5;
}

.auSideNav p {
  color: #fff;
  opacity: 0.5;
}

.auSideNav hr {
  width: 15%;
  border-bottom: solid 1px #fff;
  opacity: 0.5;
}

.auSideNav a {
  padding: 8px 8px 16px 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: "SF UI Display";
  text-transform: uppercase;
  color: #fff !important;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #1a1a1a;
  margin: 1em 2em 1em 2em;
}

.auSideNav a:hover {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
}

.auSideNav .auSideFooter {
  border-top: 1px solid #1a1a1a;
  background: #0a0a0a46;
  top: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.auSideNav .auSideFooter a {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
}

.auSideNav .auSideFooter a:hover {
  padding-left: 0px;
  padding-right: 0px;
}

.auSideNav .auSideFooter a:nth-child(1):hover {
  color: #4267B2 !important;
}

.auSideNav .auSideFooter a:nth-child(2):hover {
  color: #8a3ab9 !important;
}

.auSideNav .auSideFooter a:nth-child(3):hover {
  color: #1DA1F2 !important;
}

.auSideNav .auSideFooter a:nth-child(4):hover {
  color: #E60023 !important;
}

.auSideNav .auSideFooter a:nth-child(5):hover {
  color: #ea4c89 !important;
}

.auSideNav .change {
  margin-top: -5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.auSideNav .change .auB1 {
  background: #fff !important;
  width: 30px !important;
  -webkit-transform: rotate(45deg) translate(0px, 5px);
  transform: rotate(45deg) translate(0px, 5px);
}

.auSideNav .change .auB2 {
  display: none;
}

.auSideNav .change .auB3 {
  background: #fff !important;
  width: 30px !important;
  -webkit-transform: rotate(-45deg) translate(0px, -5px);
  transform: rotate(-45deg) translate(0px, -5px);
}

.auCont {
  display: inline-block;
  cursor: pointer;
}

.auCont .auB, .auCont .auB1, .auCont .auB2, .auCont .auB3 {
  height: 2px;
  background-color: #000;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.auCont .auB1 {
  width: 25px;
}

.auCont .auB2 {
  width: 35px;
}

.auCont .auB3 {
  width: 15px;
}

.bgBlock {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.disP {
  overflow: hidden !important;
}

main .sectionOne h1 {
  font-family: "Ivy Mode";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 72px;
}

main .sectionOne h2 {
  font-family: "SF UI Display";
  font-weight: 200;
  line-height: 0.25em;
}

main .sectionOne img {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .sectionOne span {
  font-weight: 500;
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  position: absolute;
  margin-top: 3em;
  margin-left: -35px;
  padding-left: 0;
}

main .sectionOne span i {
  margin-top: 0.30em !important;
  position: absolute;
}

main .sectionTwo {
  margin-top: 10em;
  margin-bottom: 5em;
}

main .sectionTwo img {
  min-height: 75vh;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 74px -60px black;
  box-shadow: 0px 0px 74px -60px black;
}

main .sectionTwo .recT {
  border: solid 1px #d3d3d4 !important;
  min-height: 75vh;
  height: 100%;
  width: 100%;
  width: 85%;
  position: absolute;
  z-index: -999;
  top: 25px;
  right: -10px;
}

main .sectionTwo .recTB {
  background: #000;
  height: 30px;
  width: 150px;
  position: absolute;
  z-index: 1;
  top: 97.3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

main .sectionTwo .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: -1em !important;
}

main .sectionTwo .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionTwo .title h1 {
  font-family: "Ivy Mode";
  font-size: 50px;
  line-height: 0.25;
}

main .sectionTwo p {
  margin-top: 2em;
  text-align: justify;
  opacity: 0.8;
}

main .sectionThree {
  margin-top: 10em;
  margin-bottom: 5em;
}

main .sectionThree img {
  min-height: 75vh;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 74px -60px black;
  box-shadow: 0px 0px 74px -60px black;
}

main .sectionThree .recTB {
  background: #000;
  height: 150px;
  width: 30px;
  position: absolute;
  z-index: 1;
  top: 20vh;
  right: -15px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

main .sectionThree .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .sectionThree .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionThree .title h1 {
  font-family: "Ivy Mode";
  font-size: 50px;
  line-height: 0.25;
}

main .sectionThree p {
  margin-top: 2em;
  text-align: justify;
  opacity: 0.8;
}

main .sectionThree a {
  color: #000;
  text-decoration: none;
}

main .sectionThree a:hover {
  text-decoration: none !important;
}

main .sectionThree .textAreaBox h3 {
  background: #fff;
  position: relative;
  max-width: 220px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-left: 1em;
  z-index: 3;
}

main .sectionThree .textAreaBox .taBorder {
  border: solid 1px #d3d3d4;
  margin-top: -1.5em;
}

main .sectionThree .textAreaBox .taBorder p {
  margin: 0;
  padding: 2em;
}

main .sectionFour {
  margin-top: 10em;
  background: #F8F8F8;
}

main .sectionFour .auR1 {
  position: relative;
  margin-top: -15em;
  padding-bottom: 3em;
}

main .sectionFour .auR1 .workNameArea {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

main .sectionFour .auR2 {
  padding-top: 10em;
}

main .sectionFour .auR3 {
  padding-bottom: 3em;
}

main .sectionFour .auR3 a {
  color: #000;
  text-decoration: none !important;
}

main .sectionFour .auR3 a i {
  font-size: 25px;
}

main .sectionFour img {
  min-height: 75vh;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 74px -60px black;
  box-shadow: 0px 0px 74px -60px black;
}

main .sectionFour .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: -1em !important;
}

main .sectionFour .title #num {
  opacity: 0.2;
  font-size: 60px;
}

main .sectionFour .title h1 {
  font-family: "Ivy Mode";
  font-size: 50px;
  line-height: 0.25;
}

@media only screen and (min-width: 768px) {
  main {
    margin: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  main .sectionOne img {
    width: 100% !important;
    height: 50vh;
    min-height: auto !important;
    margin-top: 1em;
  }
  main .sectionOne h1 {
    font-size: 40px !important;
  }
  main .sectionOne p {
    opacity: 0.8;
  }
  main .sectionOne span {
    font-weight: 500;
    -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    position: relative !important;
    margin: auto !important;
  }
  main .sectionOne span i {
    margin-top: 0.30em !important;
    position: relative !important;
    -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
  }
  main .sectionTwo {
    margin-top: 2em !important;
  }
  main .sectionTwo img {
    height: 50vh !important;
  }
  main .sectionTwo .recT {
    display: none !important;
  }
  main .sectionTwo .recTB {
    top: 73vh !important;
  }
  main .sectionTwo .title {
    -webkit-writing-mode: initial !important;
        -ms-writing-mode: initial !important;
            writing-mode: initial !important;
    text-orientation: initial !important;
    margin-right: auto !important;
  }
  main .sectionTwo .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  main .sectionTwo .title h1 {
    font-family: "Ivy Mode";
    font-size: 30px !important;
    line-height: 0.75;
  }
  .sectionThree .title {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    -webkit-writing-mode: inherit !important;
        -ms-writing-mode: inherit !important;
            writing-mode: inherit !important;
    text-orientation: inherit !important;
  }
  .sectionThree .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  .sectionThree .title h1 {
    font-family: "Ivy Mode";
    font-size: 30px !important;
    line-height: 0.75 !important;
  }
  .sectionThree .recTB {
    background: #000;
    height: 30px !important;
    width: 150px !important;
    position: absolute;
    z-index: 1;
    top: initial !important;
    bottom: -15px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .sectionThree #mobMore {
    border: solid 1px #000;
    padding: 1em;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    font-weight: 700;
  }
  .sectionThree #mobMore:hover {
    background: #000;
    color: #fff;
  }
  .sectionFour {
    margin: auto !important;
    padding-top: 1em;
  }
  .sectionFour .auR1 {
    padding-top: 3em !important;
    margin: auto !important;
    padding-top: 15em !important;
  }
  .sectionFour .auR1 .workNameArea {
    position: absolute !important;
    margin: auto !important;
    top: -180px !important;
    left: 0 !important;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    text-align: center;
  }
  .sectionFour .auR2 {
    padding: inherit !important;
  }
  .sectionFour .auR2 .title {
    -webkit-writing-mode: inherit !important;
        -ms-writing-mode: inherit !important;
            writing-mode: inherit !important;
    text-orientation: inherit !important;
    margin: auto !important;
  }
  .sectionFour .auR2 .title #num {
    opacity: 0.2;
    font-size: 40px !important;
  }
  .sectionFour h1 {
    font-family: "Ivy Mode";
    font-size: 30px !important;
    line-height: 0.75 !important;
  }
  .sectionFour .auR3 {
    margin: auto !important;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  main {
    margin-top: 3em !important;
  }
  main h1 {
    font-size: 50px !important;
  }
  img {
    margin-top: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */